<h1>Teams</h1>
<a href="new/">New</a>
<ul>
{% for team in teams %}
    <li><a href="{{ team.get_absolute_url() }}">{{ team }}</a>
        <ul>
        {% for project in team.projects.all() %}
            <li><a href="{{ project.get_absolute_url() }}">{{ project }}</a></li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
