{% for event in events %}
<pre class="list-group-item level-{{ event.level }}">{{ event.created.strftime('%H:%M:%S') }} <strong>{{ event.actor.alias }}</strong> {{ event.message|safe }}</pre>
{% if not loop.last %}<br />{% endif %}
{% endfor %}
